:root {
  --success-color: #28a745;
  --info-color: #31b0d5;
  --danger-color: #e4655f;
  --theme-color: steelblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  width: 100px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
    filter: brightness(85%)
}

.btn-success {
  background-color: var(--success-color);
  color: #fff;
}

.btn-info {
  background-color: var(--info-color);
  color: #fff;
}

.btn-danger {
  background-color: var(--danger-color);
  color: #fff;
}

#root-container {
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 0 30px; */
}

.navbar {
  background-color: var(--theme-color);
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.navbar a{
  font-size: 18px;
}

.navbar a:hover {
  color: lightblue;
  border-bottom: 3px solid #fff;
}

.navbar a .active{

}

.logo h1{
  font-size: x-large;
  font-weight: bold;
}



.nav-list {
  display: flex;

}

.nav-list li {
  padding-left: 20px;
}

.nav-list li a:focus {
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

.table-caption {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: left;
  width: 100%;
}

.fund-list-table{
  margin: 10px auto;
  border-collapse: collapse;
  width: 100%;

}

.fund-action {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-fund-action {
  margin: 5px 0;
}


th, td {
  border: 2px solid #333;
  padding: 8px;
}

thead {
  text-align: center;
  background-color: #4682b4;
  color: #fff
}

th td:nth-child(2),
tr td:nth-child(2){
  width: 30%;
}

th td:nth-child(3),
th td:nth-child(4),
tr td:nth-child(3),
tr td:nth-child(4)
{
  width: 20%;
}

tr td:nth-child(5){
  width: 25%;
}

tbody tr td:nth-child(2) span {
  display: block;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 5%;
  text-align: center;
}


tbody tr td:nth-child(3),
tbody tr td:nth-child(4),
tfoot tr td:nth-child(3),
tfoot tr td:nth-child(4) {
  text-align: end;
}

tfoot{
  font-weight: bold;
}


