<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="base.css">
  <script src="script.js"></script>
  <title>Home</title>
  <!-- <title>{% block title %}{{ title }}{% endblock %}</title> -->

  
</head>
<body>
  <div id="root-container">
    <div class="navbar">
      <div class="container">
        <section class="logo">
          <!-- <img src="logo.png" alt=""> -->
          <h1>Fund Manager</h1>
        </section>
        <ul class="nav-list">
          <li><a href="#" class="selected">Home</a></li>
          <li><a href="#">Fund info</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Report Issue</a></li>
        </ul>
        
      </div>
    </div>

    <div class="container">
      <div class="header">

      </div>
      <div class="fund-collection">
        
      </div>
    </div>


    <footer>

    </footer>
  </div>
</body>
</html>