<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund Manager</title>
</head>
<body>
  <!-- Theme - https://wiki.processmaker.com/3.2/Output_Documents -->
  <!-- 
    list down different funds from different companies by default
    funds in table rows
    contain columns 
      Name, 
      Invest Type - Direct/Regular, 
      Type - Growth, IDWC, 
      Invested Amount(Cost value) - 
      Current Value(Market value) - 
   -->
   <!-- NAVBAR -->
   <!-- overall Invested amount and Current value -->
   <!-- overall amounts should be in 3 categories - Both, regular, direct -->
   <!-- Button to add new funds -->
   <!-- fund list Table with Purchase, Sell, Delete option (confirmation required) -->
   <!-- Footer -->

</body>
</html>